body {
    background: lightgray;
}

Header {
    color: Blue;
}

#results {
    border: green 5px solid;
    display: flex;
}




.albumCoverImg {
    width: 100%;
    margin-top: 0;
}

.songTitle {
    border: blue 2px solid;
}

.artistReturn {
    border: red 2px solid;
}

