body {
    background: lightgray;
}

Header {
    color: Blue;
}

#results {
    border: green 5px solid;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    flex-direction: row;
    flex: 200px;
}

.songTitle {
    border: blue 2px solid;
}

.artistReturn {
    border: red 2px solid;
}

