body {
    background: lightgray;
}

Header {
    color: Blue;
}

#results {
    border: green 5px solid;
    display: flex;
}

.songTitle {
    border: blue 2px solid;
}

.artistReturn {
    border: red 2px solid;
}
